.container-fluid {
  background-image: url(../assets/images/background.jpg);
  background-position: 50%;
  background-size: cover;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  a {
    color: #5624d0;
    text-decoration: none;
  }
  .card-login {
    height: auto;
    width: 450px;
    padding: 24px;
    background-color: #ffffff;
    &-body {
      &-logo {
        display: flex;
        justify-content: start;
        img {
          width: 130px;
        }
      }
      &-title {
        padding-top: 24px;
        h2 {
          font-size: 24px;
          font-weight: 700;
        }
      }
      &-subtitle {
        p {
          font-size: 16px;
        }
      }
      &-input-email {
        .form-floating {
          border: 1px solid #2d2f31;
          input {
            border: none;
            &:focus {
              box-shadow: none;
            }
          }
        }
        label {
          font-weight: 700;
        }
      }
      &-input-button {
        display: flex;
        justify-content: center;
        .btn-primary {
          width: 100%;
          height: 48px;
          background-color: #a435f0;
          border: none;
          border-radius: 0;
          font-weight: 700;
          &:hover {
            background-color: #8710d8;
          }
        }
      }
    }
    &-footer {
      padding-top: 32px;
      display: flex;
      flex-direction: column;
      text-align: center;
      p {
        margin: 0;
        font-size: 16px;
        line-height: 1.4;
      }
      .contact-link {
        margin-top: 4px;
        margin-bottom: 8px;
      }
      a {
        line-height: 1.4;
        span {
          cursor:auto;
          color: #2d2f31;
        }
      }
      a, span {
        font-size: 14px;
      }
      &-button-container {
        margin-top: 16px;
        display: flex;
        justify-content: center;
        align-items: center;
        .btn-languague {
          display: flex;
          justify-content: center;
          align-items: center;
          padding-inline: 16px;
          gap: 4px;
          width: 140px;
          border: 1px solid #2d2f31;
          border-radius: 0;
          &:hover {
            background-color: #e9e9e9;
          }
          i {
            color: #2d2f31;
            font-size: 20px;
          }
        }
      }
    }
  }
}
