<div class="container-fluid">
  <div class="row g-0">
    <div class="col">
      <div class="card-login">
        <div class="card-login-body">
          <div class="card-login-body-logo">
            <img src="../assets/images/logo.png" alt="ntt data logo">
          </div>
          <div class="card-login-body-title">
            <h2>Welcome to Udemy Business</h2>
          </div>
          <div class="card-login-body-subtitle">
            <p>(nttdatalearn.udemy.com)</p>
          </div>
          <div class="card-login-body-input-email">
            <div class="form-floating mb-3">
              <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
              <label for="floatingInput">Email address</label>
            </div>
          </div>
          <div class="card-login-body-input-button">
            <button type="button" class="btn btn-primary">Continue</button>
          </div>
        </div>
        <div class="card-login-footer">
          <p>Get help with your account</p>
          <a class="contact-link" href="#">Contact Udemy Business support</a>
          <a href="#">Terms <span>and</span> Privacy Statement</a>
          <div class="card-login-footer-button-container">
            <button type="button" class="btn btn-languague"> <i class="bi bi-globe"></i>English</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
